@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100;300;400;500;700;800&display=swap");
:root {
  --primary-color: #000030;
  --secondary-color: #FFFFFF;
  --main-text-color: var(--secondary-color);
  --secondary-text-color: var(--primary-color);
  --menu-color: #008bff;
}

body {
  font-family: 'Roboto';
  background-color: var(--primary-color);
}

ul {
  padding-left: 0;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.call-btn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: #7d48e0;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
}

.call-btn:hover {
  cursor: pointer;
}

.call-btn img {
  width: 70%;
  -webkit-animation: tremor 3s infinite;
          animation: tremor 3s infinite;
}

@media screen and (min-width: 480px) {
  .call-btn {
    width: 70px;
    height: 70px;
  }
}

@-webkit-keyframes tremor {
  1% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  2% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  3% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  4% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  5% {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes tremor {
  1% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  2% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  3% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  4% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  5% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  6% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  7% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  8% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  9% {
    left: 5px;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  10% {
    left: -5px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  11% {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.section-title {
  color: var(--main-text-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.section-title--secondary {
  color: var(--secondary-text-color);
}

.section-title--bigger {
  font-size: 35px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.main-text {
  font-size: 18px;
  color: var(--main-text-color);
  margin-bottom: 0;
  font-family: 'PT Sans';
}

.main-text--secondary {
  color: var(--secondary-text-color);
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

header .container-xl {
  position: relative;
}

header h1 {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 25px;
  width: auto;
}

@media screen and (min-width: 480px) {
  header h1 {
    font-size: 30px;
  }
}

header .menu-icon i {
  color: var(--main-text-color);
  font-size: 30px;
}

header .menu-icon i:hover {
  cursor: pointer;
}

header .navicon {
  background: transparent;
  position: relative;
  height: 30px;
  width: 45px;
  display: block;
  z-index: 99;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

header .navicon:hover {
  cursor: pointer;
}

header .navicon:before, header .navicon:after {
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  height: 3px;
  left: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  width: 45px;
}

header .navicon:before {
  -webkit-box-shadow: #fff 0 14px 0 0;
          box-shadow: #fff 0 14px 0 0;
  position: absolute;
  top: 0;
}

header .navicon:after {
  position: absolute;
  top: 28px;
}

header .navicon--active {
  margin-top: 50px;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

header .navicon--active:before {
  -webkit-box-shadow: transparent 0 0 0 0;
          box-shadow: transparent 0 0 0 0;
  top: 15px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

header .navicon--active:after {
  top: 15px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 30px;
  background-color: var(--menu-color);
  width: auto;
  position: absolute;
  top: 150px;
  right: 50px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

header .menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

header .menu .title {
  font-size: 35px;
  margin-bottom: 30px;
  color: var(--main-text-color);
}

header .menu a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
  font-size: 30px;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  color: var(--main-text-color);
}

header .menu a::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  height: 2px;
  width: 0;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  background-color: var(--primary-color);
}

header .menu a:hover {
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--primary-color);
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  font-weight: 700;
}

header .menu a:hover::after {
  width: 100%;
}

@media screen and (min-width: 420px) {
  header .menu a {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.intro {
  background-color: var(--primary-color);
}

.intro .text {
  max-width: 700px;
}

.intro-text {
  color: var(--main-text-color);
  font-weight: 100;
  font-size: 19px;
  text-align: center;
}

.intro-text--bigger {
  font-size: 30px;
  font-weight: 400;
}

@media screen and (min-width: 420px) {
  .intro-text {
    font-size: 22px;
  }
  .intro-text--bigger {
    font-size: 40px;
  }
}

@media screen and (min-width: 525px) {
  .intro-text {
    font-size: 27px;
  }
  .intro-text--bigger {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .intro-text {
    font-size: 30px;
  }
  .intro-text--bigger {
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .intro-text {
    font-size: 35px;
  }
  .intro-text--bigger {
    font-size: 50px;
  }
}

.way .section-title {
  text-align: left;
}

.way .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.way .item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.way .item-number {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-text-color);
  margin-right: 15px;
}

@media screen and (min-width: 480px) {
  .way .item-number {
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .way .item-number {
    margin-right: 40px;
  }
}

.way .item img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
}

.how-work .section-title {
  max-width: 560px;
  text-align: center;
  margin-bottom: 100px;
}

.how-work .text {
  max-width: 1000px;
}

.cooperation {
  background-color: var(--secondary-color);
}

.cooperation .section-title {
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.cooperation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.cooperation-item .number {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-text-color);
  position: absolute;
  left: 0;
}

.cooperation-item .main-text {
  font-weight: 300;
  text-align: center;
  max-width: 100%;
  margin-left: 50px;
}

.documents {
  background-color: var(--secondary-color);
  padding-bottom: 30px;
}

.documents .section-title {
  text-align: center;
}

.documents-list {
  list-style-type: none;
}

.documents-list .main-text {
  font-weight: 300;
}

@media screen and (min-width: 480px) {
  .documents {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .documents {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .documents {
    padding-bottom: 300px;
  }
}

.advantages {
  background-color: var(--secondary-color);
}

.advantages .section-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .advantages .section-title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .advantages .section-title {
    margin-bottom: 50px;
  }
}

.advantages .items {
  margin-left: -5px;
  margin-right: -5px;
}

.advantages .items .item-wrapper {
  padding: 0 5px;
  margin-bottom: 30px;
}

.advantages .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ececec;
  border-radius: 6px;
  max-width: 600px;
  padding: 10px;
  height: 100%;
}

.advantages .items .item > * {
  padding: 0 5px;
}

.advantages .items .item img {
  max-width: 100%;
}

.advantages .items .item p.main-text--bigger {
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (min-width: 420px) {
  .advantages .items .item {
    padding: 15px;
  }
}

@media screen and (min-width: 575px) {
  .advantages .items .item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.services-list {
  list-style-type: none;
}

.clients .section-title {
  max-width: 715px;
}

.clients .section-title .count {
  background: -webkit-gradient(linear, left top, right top, from(#d6ddec), color-stop(50%, #bdd4ef), to(#98e0f4));
  background: linear-gradient(to right, #d6ddec 0%, #bdd4ef 50%, #98e0f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-section form {
  max-width: 700px;
  padding: 25px 50px;
  background-color: var(--menu-color);
  border-radius: 10px;
}

.form-section form .form-title {
  color: var(--main-text-color);
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.form-section form .form-control {
  margin-bottom: 15px;
}

.form-section form .btn {
  width: 100%;
}

.feedbacks {
  padding-bottom: 50px;
  background-color: var(--menu-color);
  position: relative;
}

.feedbacks-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feedbacks-items .slick-arrow {
  border: none;
  background-color: transparent;
  font-size: 50px;
  font-weight: 100;
  color: var(--primary-color);
  position: absolute;
  bottom: -30px;
  margin-top: -15px;
  z-index: 10;
}

.feedbacks-items .slick-arrow--prev {
  left: 50px;
}

.feedbacks-items .slick-arrow--next {
  right: 50px;
}

@media screen and (min-width: 575px) {
  .feedbacks-items .slick-arrow {
    top: 50%;
    bottom: initial;
  }
  .feedbacks-items .slick-arrow--prev {
    left: -10px;
  }
  .feedbacks-items .slick-arrow--next {
    right: -10px;
  }
}

.feedbacks-items img {
  width: 600px;
}

.contacts .map iframe {
  max-height: 300px;
}

.contacts .info .name {
  font-weight: 700;
}
/*# sourceMappingURL=index.css.map */