@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;300;400;500;700;800&display=swap");
:root {
  --primary-color: #000030;
  --secondary-color: #FFFFFF;
  --main-text-color: var(--secondary-color);
  --secondary-text-color: var(--primary-color);
}

body {
  font-family: 'Roboto';
  background-color: var(--primary-color);
}

ul {
  padding-left: 0;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

header h1 {
  color: var(--main-text-color);
  font-size: 25px;
}

@media screen and (min-width: 480px) {
  header h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.call-btn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: #7d48e0;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.call-btn:hover {
  cursor: pointer;
}

.call-btn img {
  width: 70%;
  -webkit-animation: tremor 3s infinite;
          animation: tremor 3s infinite;
}

@media screen and (min-width: 480px) {
  .call-btn {
    width: 70px;
    height: 70px;
  }
}

@-webkit-keyframes tremor {
  1% {
    left: 1px;
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  2% {
    left: -1px;
    -webkit-transform: translateX(-8%);
    transform: translateX(-8%);
  }
  3% {
    left: 1px;
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  4% {
    left: -1px;
    -webkit-transform: translateX(-8%);
    transform: translateX(-8%);
  }
  5% {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes tremor {
  1% {
    left: 1px;
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  2% {
    left: -1px;
    -webkit-transform: translateX(-8%);
    transform: translateX(-8%);
  }
  3% {
    left: 1px;
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  4% {
    left: -1px;
    -webkit-transform: translateX(-8%);
    transform: translateX(-8%);
  }
  5% {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.section-title {
  color: var(--main-text-color);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.section-title--secondary {
  color: var(--secondary-text-color);
}

.section-title--bigger {
  font-size: 35px;
}

@media screen and (min-width: 480px) {
  .section-title {
    font-size: 35px;
  }
  .section-title--bigger {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 50px;
  }
  .section-title--bigger {
    font-size: 60px;
  }
}

.main-text {
  font-size: 22px;
  font-weight: 100;
  color: var(--main-text-color);
  margin-bottom: 0;
}

.main-text--secondary {
  color: var(--secondary-text-color);
}

.main-text--bigger {
  font-size: 25px;
}

@media screen and (min-width: 480px) {
  .main-text {
    font-size: 22px;
  }
  .main-text--bigger {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-text {
    font-size: 25px;
  }
  .main-text--bigger {
    font-size: 35px;
  }
}

.intro {
  background-color: var(--primary-color);
}

.intro .text {
  max-width: 700px;
}

.intro-text {
  color: var(--main-text-color);
  font-weight: 100;
  font-size: 19px;
  text-align: center;
}

.intro-text--bigger {
  font-size: 19px;
}

@media screen and (min-width: 420px) {
  .intro-text {
    font-size: 22px;
  }
  .intro-text--bigger {
    font-size: 25px;
  }
}

@media screen and (min-width: 525px) {
  .intro-text {
    font-size: 27px;
  }
  .intro-text--bigger {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .intro-text {
    font-size: 30px;
  }
  .intro-text--bigger {
    font-size: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .intro-text {
    font-size: 35px;
  }
  .intro-text--bigger {
    font-size: 43px;
  }
}

.way .section-title {
  text-align: left;
}

.way .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.way .item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.way .item-number {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-text-color);
  margin-right: 15px;
}

@media screen and (min-width: 480px) {
  .way .item-number {
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .way .item-number {
    margin-right: 40px;
  }
}

.way .item img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
}

.how-work .section-title {
  max-width: 560px;
  text-align: center;
  margin-bottom: 100px;
}

.how-work .text {
  max-width: 1000px;
}

.cooperation {
  background-color: var(--secondary-color);
}

.cooperation .section-title {
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.cooperation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.cooperation-item .number {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-text-color);
  position: absolute;
  left: 0;
}

.cooperation-item .main-text {
  font-weight: 300;
  text-align: center;
  max-width: 100%;
  margin-left: 50px;
}

.documents {
  background-color: var(--secondary-color);
  padding-bottom: 30px;
}

.documents .section-title {
  text-align: center;
}

.documents-list {
  list-style-type: none;
}

.documents-list .main-text {
  font-weight: 300;
}

@media screen and (min-width: 480px) {
  .documents {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .documents {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .documents {
    padding-bottom: 300px;
  }
}

.advantages {
  background-color: var(--secondary-color);
}

.advantages .section-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .advantages .section-title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .advantages .section-title {
    margin-bottom: 50px;
  }
}

.advantages .items .item {
  border: 1px solid #ececec;
  border-radius: 6px;
  max-width: 600px;
  padding: 30px;
  margin-bottom: 30px;
}

.advantages .items .item p {
  font-weight: 300;
}

.services-list {
  list-style-type: none;
}

.clients .section-title {
  max-width: 715px;
}

.clients .section-title .count {
  background: -webkit-gradient(linear, left top, right top, from(#d6ddec), color-stop(50%, #bdd4ef), to(#98e0f4));
  background: linear-gradient(to right, #d6ddec 0%, #bdd4ef 50%, #98e0f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-section form {
  max-width: 700px;
  padding: 25px 50px;
  background-color: #981ddb;
  border-radius: 10px;
}

.form-section form .form-title {
  color: var(--main-text-color);
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.form-section form .form-control {
  margin-bottom: 15px;
}

.form-section form .btn {
  width: 100%;
}

.clients .section-title {
  max-width: 715px;
}

.clients .section-title .count {
  background: -webkit-gradient(linear, left top, right top, from(#d6ddec), color-stop(50%, #bdd4ef), to(#98e0f4));
  background: linear-gradient(to right, #d6ddec 0%, #bdd4ef 50%, #98e0f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feedbacks {
  padding-bottom: 50px;
  background-color: #9f97fa;
}

.feedbacks-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 710px;
}

.feedbacks-items img {
  width: 600px;
}

@media screen and (min-width: 768px) {
  .feedbacks-items img:nth-child(2n) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .feedbacks-items img:nth-child(2n + 1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=index.css.map */