.advantages {
    background-color: var(--secondary-color);

    .section-title {
        margin-bottom: 30px;

        @media screen and (min-width: 480px) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 50px;
        }
    }

    .items {

        .item {
            border: 1px solid #ececec;
            border-radius: 6px;
            max-width: 600px;
            padding: 30px;
            margin-bottom: 30px;

            p {
                font-weight: 300;
            }
        }
    }
}