.advantages {
    background-color: var(--secondary-color);

    .section-title {
        margin-bottom: 30px;

        @media screen and (min-width: 480px) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 50px;
        }
    }

    

    .items {

        margin-left: -5px;
        margin-right: -5px;

        .item-wrapper {
            padding: 0 5px;
            margin-bottom: 30px;
        }

        .item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            border: 1px solid #ececec;
            border-radius: 6px;
            max-width: 600px;
            padding: 10px;
            height: 100%;

            & > * {
                padding: 0 5px;
            }

            img {
                max-width: 100%;
            }

            p.main-text--bigger {
                font-weight: 300;
                margin-bottom: 0;
            }

            @media screen and (min-width: 420px) {
                padding: 15px;
            }
        }
    }
}