:root {
    --primary-color: #000030;
    --secondary-color: #FFFFFF;
    --main-text-color: var(--secondary-color);
    --secondary-text-color: var(--primary-color);
    --menu-color: #010121;
    --form-color: #0065b7;
    --feedbacks-bg-color: #008bff;
    --call-btn-color: #3a68e7;
}