:root {
    --primary-color: #000030;
    --secondary-color: #FFFFFF;
    --main-text-color: var(--secondary-color);
    --secondary-text-color: var(--primary-color);
    --menu-color: #010121;
    --form-color: #008bff;
}