.contacts {

    .container-xl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link {
        transition: color 0.2s ease-in-out;
    }

    .map {

        max-width: 700px;

        iframe {
            max-height: 300px;
        }
    }

    .info {

        .name {
            font-weight: 700;
        }
    }
}