.feedbacks {
    padding-bottom: 50px;
    background-color: var(--feedbacks-bg-color);
    position: relative;

    &-items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;

        .slick-arrow {
            border: none;
            background-color: transparent;
            font-size: 50px;
            font-weight: 100;
            color: var(--primary-color);
            position: absolute;
            bottom: -30px;
            margin-top: -15px;
            z-index: 10;

            &--prev {
                left: 50px;
            }

            &--next {
                right: 50px;
            }

            @media screen and (min-width: 575px) {
                top: 50%;
                bottom: initial;
                    
                &--prev {
                    left: -10px;
                }

                &--next {
                    right: -10px;
                }
            }
        }

        img {
            width: 600px;
        }
    }
}