.form-section {

    form {
        $inputMarginBottom: 15px;
        max-width: 700px;
        padding: 25px 15px;
        background-color: var(--form-color);
        border-radius: 10px;

        .iti--allow-dropdown {
            width: 100%;
            margin-bottom: $inputMarginBottom;
        }

        .form-title {
            color: var(--primary-color);
            font-size: 25px;
            font-weight: 100;
            text-align: center;
        }

        .form-control {
            margin-bottom: $inputMarginBottom;
        }

        .btn {
            width: 100%;
        }

        @media screen and (min-width: 575px) {
            padding: 25px 50px;
        }
    }
}