.form-section {

    form {
        max-width: 700px;
        padding: 25px 50px;
        background-color: #9f97fa;
        border-radius: 10px;

        .form-title {
            color: var(--main-text-color);
            font-size: 25px;
            font-weight: 100;
            text-align: center;
        }

        .form-control {
            margin-bottom: 15px;
        }

        .btn {
            width: 100%;
        }
    }
}