body {
    font-family: 'Roboto';
    background-color: var(--primary-color);
}

ul {
    padding-left: 0;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {

    padding-top: 30px;
    padding-bottom: 30px;

    .container-xl {
        position: relative;
    }

    h1 {
        color: var(--main-text-color);
        font-weight: 700;
        font-size: 25px;
        width: auto;

        @media screen and (min-width: 480px) {
            font-size: 30px;
        }
    }

    .menu-icon {

        i {
            color: var(--main-text-color);
            font-size: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .navicon {
        width: 100%;
        background: transparent;
        position: relative;
        height: 30px;
        width: 50px;
        display: block;
        z-index: 99;
        -webkit-transition: linear 0.5s all;
        transition: linear 0.5s all;

        &:hover {
            cursor: pointer;
        }

        &:before, &:after {
            background: #fff;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            content: "";
            height: 3px;
            left: 0;
            -webkit-transition: 0.8s ease;
            transition: 0.8s ease;
            width: 45px;
        }

        &:before {
            box-shadow: #fff 0 14px 0 0;
            position: absolute;
            top: 0;
        }

        &:after {
            position: absolute;
            top: 28px;
        }

        &--active {
            margin-top: 50px;
            -webkit-transition: linear 0.5s all;
            transition: linear 0.5s all;

            &:before {
                box-shadow: transparent 0 0 0 0;
                top: 15px;
                -webkit-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                transform: rotate(225deg);
            }

            &:after {
                top: 15px;
                -webkit-transform: rotate(315deg);
                -ms-transform: rotate(315deg);
                transform: rotate(315deg);
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 30px 50px 15px;
        background-color: var(--menu-color);
        width: auto;
        position: absolute;
        top: 150px; right: 50px;
        border-radius: 10px;
        opacity:0;
        -webkit-transition: ease-in 0.5s all;
        transition: ease-in 0.5s all;
        -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        transform: translateY(-200%);

        &--active {
            display: flex;
            opacity: 1;
            -webkit-transition: ease-in 0.5s all;
            transition: ease-in 0.5s all;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        .title {
            font-size: 35px;
            margin-bottom: 30px;
            color: var(--main-text-color);
        }

        a {
            text-decoration: none;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 15px;
            font-size: 30px;
            -webkit-transition: linear 0.5s all;
            transition: linear 0.5s all;
            color: var(--main-text-color);

            &::after {
                display: flex;
                content: "";
                height: 2px;
                width: 0;
                transition: width 0.5s ease-in-out;
                background-color: var(--primary-color);
            }

            &:hover {
                cursor: pointer;
                align-items: flex-start;
                color: var(--primary-color);
                -webkit-transition: linear 0.5s all;
                transition: linear 0.5s all;
                -webkit-transform: scale(1.15);
                -ms-transform: scale(1.15);
                transform: scale(1.15);
                font-weight: 700;

                &::after {
                    width: 100%;
                }
            }

            @media screen and (min-width: 420px) {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
}

.container-xl {

    @media screen and (min-width: 1200px) {
        max-width: 1230px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.call-btn {
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: rgb(125, 72, 224);
    width: 55px;
    height: 55px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 70%;
        animation: tremor 3s infinite;
    }

    @media screen and (min-width: 480px) {
        width: 70px;
        height: 70px;
    }
}

@-webkit-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-o-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    6% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    7% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    8% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    9% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    10% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    11% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.section-title {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    &--secondary {
        color: var(--secondary-text-color);
    }

    &--bigger {
        font-size: 35px;
    }

    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.main-text {
    font-size: 18px;
    color: var(--main-text-color);
    margin-bottom: 0;
    font-family: 'PT Sans';

    &--secondary {
        color: var(--secondary-text-color);
    }
}