body {
    font-family: 'Roboto';
    background-color: var(--primary-color);
}

ul {
    padding-left: 0;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-xl {

    @media screen and (min-width: 1200px) {
        max-width: 1230px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.call-btn {
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: var(--call-btn-color);
    width: 55px;
    height: 55px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0 rgba(#3Fafaf, .5);
    z-index: 15;
    -webkit-animation: pulse 1.5s infinite;

    &:hover {
        cursor: pointer;
        -webkit-animation: none;

        i {
            -webkit-animation: none;
        }
    }

    i {
        font-size: 25px;
        color: #FFFFFF;
        -webkit-animation: tremor 3s infinite;
    }

    @media screen and (min-width: 480px) {
        width: 70px;
        height: 70px;

        i {
            font-size: 35px;
        }
    }
}

@keyframes pulse {
    0% {
      transform: scale(.9);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 30px rgba(#3Fafaf, 0);
    }
      100% {
      transform: scale(.9);
      box-shadow: 0 0 0 0 rgba(#3Fafaf, 0);
    }
}

@-webkit-keyframes pulse {
    0% {
      transform: scale(.9);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 30px rgba(#3Fafaf, 0);
    }
    100% {
      transform: scale(.9);
      box-shadow: 0 0 0 0 rgba(#3Fafaf, 0);
    }
}

@-webkit-keyframes tremor {
    0% {
        left: 5px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
   
    10% {
        left: -5px;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    20% {
        left: 5px;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
   
    30% {
        left: -5px;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    40% {
        left: 5px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes tremor {
    0% {
        left: 5px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
   
    10% {
        left: -5px;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    20% {
        left: 5px;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
   
    30% {
        left: -5px;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    40% {
        left: 5px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.section-title {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    &--secondary {
        color: var(--secondary-text-color);
    }

    &--bigger {
        font-size: 35px;
    }

    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.main-text {
    font-size: 18px;
    color: var(--main-text-color);
    margin-bottom: 0;
    font-family: 'PT Sans';

    &--secondary {
        color: var(--secondary-text-color);
    }
}