body {
    font-family: 'Roboto';
    background-color: var(--primary-color);
}

ul {
    padding-left: 0;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-xl {

    @media screen and (min-width: 1200px) {
        max-width: 1230px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.call-btn {
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: rgb(125, 72, 224);
    width: 55px;
    height: 55px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 70%;
        animation: tremor 3s infinite;
    }

    @media screen and (min-width: 480px) {
        width: 70px;
        height: 70px;
    }
}

@-webkit-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-o-keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes tremor {
    1% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    2% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    3% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    4% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    5% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    6% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    7% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    8% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    9% {
        left: 5px;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
   
    10% {
        left: -5px;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    11% {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.section-title {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    &--secondary {
        color: var(--secondary-text-color);
    }

    &--bigger {
        font-size: 35px;
    }

    @media screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.main-text {
    font-size: 18px;
    color: var(--main-text-color);
    margin-bottom: 0;
    font-family: 'PT Sans';

    &--secondary {
        color: var(--secondary-text-color);
    }
}