.intro {
    background-color: var(--primary-color);

    .text {
        max-width: 700px;
    }

    &-text {
        color: var(--main-text-color);
        font-weight: 100;
        font-size: 19px;
        text-align: center;

        &--bigger {
            font-size: 19px;
        }

        @media screen and (min-width: 420px) {
            font-size: 22px;

            &--bigger {
                font-size: 25px;
            }
        }

        @media screen and (min-width: 525px) {
            font-size: 27px;

            &--bigger {
                font-size: 30px;
            }
        }

        @media screen and (min-width: 768px) {
            font-size: 30px;

            &--bigger {
                font-size: 37px;
            }
        }

        @media screen and (min-width: 1200px) {
            font-size: 35px;

            &--bigger {
                font-size: 43px;
            }
        }
    }
}